
/**
 * Menus
 * --------------------------------------------------
 * Side panel structure
 */

.menu {
  z-index: 0;
  overflow: hidden;

  min-height: 100%;
  max-height: 100%;
  width: $menu-width;

  background-color: #fff;

  @include flex-container();
}

.menu-content {
  box-shadow: $menu-side-shadow;
}

.menu-left { 
  left: 0; 
}

.menu-right { 
  right: 0; 
}

.menu-animated {
  @include transition(transform $menu-animation-speed ease);
}
